{
    "singleQuote": false,
    "useTabs": false,
    "semi": true,
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "none",
    "arrowParens": "always",
    "endOfLine": "lf",
    "author": "By John Michael"
}
